<% include layout-header %>
<div id="main-body">
	<h1>This is a 404 page, because something isn't found</h1>
	<div>
		<%= status %>
	</div>
	<div>
		<%= url %>
	</div>
</div> <!-- #main-body -->	
<% include layout-footer %>