<% include layout-header %>
<div id="main-body">

	<div class="container-container about-content">
		<div class="container">
			
			<div class="row hero">
				
				<div class="span7">
					<div class="content">
						<h1 class="big-homepage-heading skinny ">
							About
						</h1>
						<hr>
						<p class="skinny">
							Ready Set SQL is a series of interactive lessons aimed to teach you the art of 
							writing SQL SELECT queries. 
							These queries are very useful when writing reports and analyzing data.
							Our goal is to provide an easy and exciting environment for learning SQL online, 
							for people with little to no SQL/database experience.
						</p>
						<p class="skinny">
							By the end of the tutorials, you should feel comfortable reading and writing SQL SELECT statements, 
							and be exposed to SQL enough to apply the techniques learned here to other databases and database software.
						</p>
						
						<br/>
						<br/>
						<br/>
						<br/>
						
						<h2 class="big-homepage-heading skinny">What Kind of SQL?</h2>
						<hr>
						<p class="skinny">
							Even though SQL has standardized versions by ANSI, 
							every database vendor enhances the language in its own quirky way. The SQL we
							cover is actually SQL according to PostgreSQL, a popular and open-source database. 
							We'll try to keep our lessons as ANSI as possible, and point 
							out when we stray into PostgreSQL-specific territory.
						</p>
						<p class="skinny">
							What this ultimately means for you is that some of this SQL won't work in  
							SQL Server, Oracle, MySQL, or MS Access. 
							It will still be worth learning though, as having this background 
							and understanding will likely help you with different flavors of SQL down the road.
						</p>
					</div>
				</div>
				
				<div class="span5">
					<div class="content">
					
						<br><br><br><br>		

<pre class="cm-s-monokai"><br>    <span class="cm-keyword">SELECT</span> <br>        a_column, <br>        another_column <br>    <span class="cm-keyword">FROM</span> <br>        a_table <br>    <span class="cm-keyword">WHERE</span> <br>        a_column = <span class="cm-string">'some value'</span> <br>        <span class="cm-keyword">AND</span> some_other_column &gt; <span class="cm-number">42</span><br>        <br></pre>
						
<!--
<pre><code class="sample-code">
	SELECT 
		some_column, 
		some_other_column 
	FROM 
		some_table 
	WHERE 
		some_column = 'some value' 
		AND some_other_column > 42
		
</code></pre>
-->					
						<br><br><br><br><br><br><br><br><br>
						
						<img src="/images/postgres-logo.png" />
					
					</div>
				</div>
				
			</div> <!-- row hero -->
			
		</div>	
	</div>
	<!--
	<script>
		$(function() {
			$(".sample-code").parent().addClass('cm-s-monokai');
			CodeMirror.runMode($(".sample-code").text(), 'text/x-mysql', $(".sample-code").parent().get(0));
		});
	</script>
	-->
</div> <!-- #main-body -->	
<% include layout-footer %>