<% include layout-header %>
	<style>
		.main-nav {
			margin-top: -50px;
		}
	</style>
		
	<div class="container-container light-bg">
		<div id="hero-container" class="container">
			
			<div class="hero">
				<!--
				<div class="row">
					
					<div class="span4">
						<div style="padding-left: 20px; padding-top: 10px">
							<h3 class="skinny">
								Click a link below to begin its interactive tutorial. 
								Tutorials are listed in the suggested order, but each one stands on its own. 
								Feel free to skip around if that's more your style.
							</h3>
						</div>
					</div>
					
				</div>
				-->
				<br><br><br>
				
				<div class="row">
					<div class="span8 offset2">
						
						<style>
							.logo {
								font-family: 'RobotoLight', Arial;
								position: relative;
								height: 200px;
								color: #000;
								/* http://www.cssrex.com/tips-tricks/how-to-create-3d-text-using-css3/ */
								
								text-shadow: 
									0 1px 0 #bbb,
									0 2px 0 #b9b9b9,
									0 3px 0 #aaa,
									0 4px 1px rgba(0,0,0,.1),
									0 0 3px rgba(0,0,0,.1),
									0 1px 3px rgba(0,0,0,.3),
									0 3px 5px rgba(0,0,0,.2),
									0 5px 10px rgba(0,0,0,.25),
									0 10px 10px rgba(0,0,0,.2),
									0 20px 20px rgba(0,0,0,.15);
								

							}
							.logo .learn {
								position: absolute;
								font-size: 94px;
								line-height: 94px;
								letter-spacing: 7px
							}
							.logo .some {
								position: absolute;
								font-size: 94px;
								line-height: 94px;
								top: 88px;
							}
							.logo .sql {
								position: absolute;
								font-size: 200px;
								line-height: 200px;
								left: 260px;
								top: 5px;
							}
							
							.card  {
								-webkit-box-shadow: 0 8px 6px -6px black;
								-moz-box-shadow: 0 8px 6px -6px black;
								box-shadow: 
									0 2px 0 -1px #DDD,
									0 4px 0 -2px #CCC,
									0 6px 0 -3px #BBB,
									0 4px 1px rgba(0,0,0,.1),
									0 0 3px rgba(0,0,0,.1),
									0 1px 3px rgba(0,0,0,.3),
									0 3px 5px rgba(0,0,0,.2),
									0 5px 10px rgba(0,0,0,.25),
									0 10px 10px rgba(0,0,0,.2),
									0 20px 20px rgba(0,0,0,.15);
								box-shadow: 
									0 2px 0 -1px #DDD,
									0 4px 0 -2px #CCC,
									0 6px 0 -3px #BBB,
									0 4px 1px rgba(0,0,0,.05),
									0 0 3px rgba(0,0,0,.05),
									0 1px 3px rgba(0,0,0,.15),
									0 3px 5px rgba(0,0,0,.1),
									0 5px 10px rgba(0,0,0,.15),
									0 10px 10px rgba(0,0,0,.1),
									0 20px 20px rgba(0,0,0,.07);
							}
							
						</style>
						<div class="logo">
							<span class="learn">learn</span>
							<span class="some">some</span>
							<span class="sql">SQL</span>
						</div>
						
					</div>
				</div>
				
				<div class="row">
					<div class="span8 offset2">
						<br>
						<h3 class="skinny" style="text-align: center;">
							Free Interactive SQL Query Tutorials. No experience necessary. <a href="/about">Learn more.</a>
						</h3>
					</div>
				</div>
				
				<!--<img src="/images/database-platters.png" alt="database platters" style="margin-left: -20px;">-->
				<!--
				<div class="row">
					<div class="span8 offset2">
						
						<img src="/images/text-logo.png" alt="database platters" width="100%" style="">
					</div>
				</div>
				<div class="row">
					<div class="span10 offset1">
						<br><br>
						<h3 class="skinny">
							Click a link below to begin its interactive tutorial. 
							Tutorials are listed in the suggested order, but each one stands on its own. 
							Feel free to skip around if that's more your style.
						</h3>
					
					</div>
				</div>
				-->
				
				<!--
				<div class="row">
					<div class="span8">
						<div class="content" style="margin-top: -20px; padding-top: 115px;">
							
							
								<br>Then go write some fancy reports. 
								<br>And analyze some exciting data. 
							
							<h1 class="big-homepage-heading ">
								<span class="skinny">
									Want to Learn some SQL?
									<br>
									It's super helpful for writing reports and analyzing data.
									
								</span>
							</h1>
							
							<br/>
							
							<h3 class="skinny">
								Click a link below to begin its interactive tutorial. 
								Tutorials are listed in the suggested order, but each one stands on its own. 
								Feel free to skip around if that's more your style.
							</h3>
							
							<h2 class="skinny">
								The interactive tutorials below focus on the SELECT statement.
								All lessons are using PostgreSQL
								
							</h2>
						</div>
							
					</div>
				</div>
				-->
			</div>
			
		</div>	<!-- container -->
	</div>
	
	
	
	<style>
		.big-text {
			font-family: 'RobotoLight', Arial;
			font-size: 24px;
			line-height: 38px;
		}
		.hr1 {
			margin: 10px 0;
		}
		.card {
			padding: 20px;
			border: 1px solid #888;
			background-color: #fefefe;
			margin-top: 40px;
			margin-bottom: 40px;
		}
		.card-description {
			margin-top: 20px;
		}
		.card-description p {
			font-family: 'RobotoLight', Arial;
			font-size: 18px;
			line-height: 27px;
		}
		.light-bg {
			
			background-image: url('../images/lghtmesh/lghtmesh.png');
			background-image: url('../images/grid/grid.png');
			background-image: url('../images/diagonal-noise/diagonal-noise.png');
			background-image: url('../images/white_carbon/white_carbon.png');
			background-image: url('../images/grey/grey.png');
		}
	</style>
<div class="light-bg">
	<div id="lessons" class="container">		
		
		<% for (var ll = 0; ll < lessonLists.length; ll++) { %>
		<% 
			var lessonList = lessonLists[ll]; 
		%>
			
			<div class="row lessons">	
				<div class="span12">
					<div class="card">
						<div class="row-fluid">
							
								<div class="span4">
									<h1 class="big-homepage-heading skinny ">
										<%= lessonList.listname %>
									</h1>
									<div class="card-description">
										<p>
											<%= lessonList.listDescription %>
											<!--
											All the basics of writing simple SQL Queries.
											Learn to pull data from a table, 
											showing all the columns or just some of them.
											And maybe some other stuff too. We'll see.
											-->
										</p>
									</div>

								</div>
								<div class="span8" style="padding-left: 50px;">
									<% for (var i = 0; i < lessonList.lessons.length; i++ ) { %>
										<% var lesson = lessonList.lessons[i]; %>
										
										<h3 class="lightHeading">
											<a class="big-text" href="/lesson/<%= lesson.lessonid %>" class=""><%= lesson.lessontitle %></a>
										</h3>
										<hr class="hr1">
										
									<% } %>
								</div>
							
						</div>

					</div>
				</div>
			</div>
			
			
			
		<% } %> <!-- end for each lessonList -->
			
	</div> <!-- /container -->
</div>
	
	
	<script>
		
		//app.renderUserProgress();
	
	</script>
		
		

<% include layout-footer %>