</div> <!-- #main-body -->
	
	<footer id="footer" class="container-container">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="content">
						<p class="footer-nav">
							<a href="/">Home</a> 
							<a href="/about">About</a>
							<a href="/more-sql-resources">More SQL Resources</a>
						</p>
						<hr>
						<p class="footer-nav">
							<a href="/">&copy; 2012 Learn Some SQL</a>
						</p>
					</div>
				</div>
			</div>			
		</div>
	</footer>
	
</body>
</html>