	
	<footer id="footer" class="container-container">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="content">
						<p class="footer-nav">
							<a href="/">Home</a> 
							<a href="/table-map">Table Map</a>
							<a href="/about">About</a>
							<a href="/more-sql-resources">More SQL Resources</a>
						</p>
						<hr>
						<p class="footer-attrib">
							<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">
								<img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
							</a>
							<br />
							<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Ready Set SQL</span> content is licensed under a 
							<a rel="license" href="http://creativecommons.org/licenses/by/3.0/deed.en_US">Creative Commons Attribution 3.0 Unported License</a>.
							<br>Ready Set SQL application code is licensed under the MIT license.
                            <br><a href="https://github.com/rickbergfalk/ready-set-sql">See repository on GitHub</a>.
						</p>
					</div>
				</div>
			</div>			
		</div>
	</footer>
	
</body>
</html>