<% include layout-header %>
		
		
	<div class="container-container light-bg">
		<div class="container">
			
			
				<div class="row">
					
					<div class="span7">
						<div class="content about-content" >
							<br/>
							<br/>
							<br/>
							<h1 class="big-homepage-heading ">
								<span class="skinny">
									More SQL Resources
								</span>
							</h1>
							
							<p class="skinny">
								Hopefully we've shown you SQL can be fun, powerful, 
								and easy to use. In the event that you want more SQL experience, 
								or want tutorials using database systems other that PostgreSQL, 
								give these sites below a try.
							</p>
							<br/>
							<br/>
							
							
							
						</div>
							
					</div>
					
				</div>
				
		</div>	<!-- container -->
	</div>
	
	
	
	
	<div class="container-container about-content">
		<div class="container">
			
			<div class="row">
				
				<div class="span7">
					<div class="content">
						
						<h2 class="big-homepage-heading skinny ">
							<a href="http://sqlzoo.net/">SQLZOO</a>
						</h2>
						<hr>
						<p class="skinny">
							SQLZOO is another sql tutorial site, but with a wider range of query types (not just SELECT queries). 
							There are tutorials for different database systems as well.
							They are in the process of a redesign of sorts. 
							Good place to go for some quick interactive tidbits.
						</p>
						
						<br/><br/>
						<br/><br/>
						
						<h2 class="big-homepage-heading skinny ">
							<a href="http://sql.learncodethehardway.org/">Learn SQL The Hard Way</a>
						</h2>
						<hr>
						<p class="skinny">
							Don't let the name or the alpha status of the project scare you 
							- it's actually a very good program to learn SQL (as well as other languages).
							The concept of <em>Learn SQL The Hard Way</em> is to get your hands dirty and learn by doing. 
							You try things out, observe, and learn from what you see.
						</p>
						<p class="skinny">
							The focus tends to lean towards the
							more technical aspects of SQL and using it in a software development context. 
							If you want to learn to build an app of some kind, this might be for you. 
							If you just want to learn SQL for reporting off the data 
							from within a database, this might be a bit overkill.
						</p>
						
						<br/><br/>
						<br/><br/>
						
						<h2 class="big-homepage-heading skinny ">
							<a href="http://sqlfiddle.com/">SQL Fiddle</a>
						</h2>
						<hr>
						<p class="skinny">
							SQL Fiddle isn't a site with tutorials of any kind. Instead, it is more of an interactive sandbox to experiment with various SQL database environments. 
						</p>
						<p class="skinny">
							A handy tool for the more experienced SQL user.
						</p>
						
						<br/><br/>
						<br/><br/>
						
					</div>
				</div>
				
				<div class="span4 offset1">
					<div class="row">
						<div class="span3 offset1">
							<div class="content">
								<%- makeTable(3, 4) %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span4">
							<div class="content">
								<%- makeTable(4, 5) %>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="span3 offset1">
							<div class="content">
								<%- makeTable(3, 7) %>
							</div>
							
						</div>
					</div>
				</div>
				
			</div> <!-- row -->
			
		</div>	
	</div>
		
		

<% include layout-footer %>