<% include layout-header %>
		
	<div class="container-container light-bg">
		<div class="container">
			
			<div class="row">	
				<div class="span12">
					<div class="card">
						<div class="row-fluid">
							<div class="span12">
								<h1 id="table-map-title" class="card-title skinny ">
									Table Map
								</h1>
							</div>
						</div>
						<div class="row-fluid">
							<div class="span10 offset1">
								<img src="/images/table-map.gif" />
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>	<!-- container -->
	</div>
		

<% include layout-footer %>